header{
    background: blueviolet;
}
h2{
    background: blueviolet;
    font: white;
}
h3{
    background: blueviolet;
    font: white;
}
.frstimage{
    width: 200px;
    height: 180px;
    border: 5px solid powderblue;
    margin: 75px;
    padding: 5px;
    
}
.scndimage{
    width: 300px;
    height: auto;
    border: 5px solid powderblue;
    margin: 100px;
    padding: 5px;
    
}
body{
    background: grey;
}