header{
    background: blueviolet;
}
h2{
    background: blueviolet;
    font: white;
}
h3{
    background: blueviolet;
    font: white;
}
.frstimage{
    width: 200px;
    height: auto;
    border: 2px solid powderblue;
    margin: auto;
    padding: 5px;
    
}
.scndimage{
    width: 200px;
    height: auto;
    border: 2px solid powderblue;
    margin: auto;
    padding: 5px;
    
}
body{
    background: grey;
}